@import "./vars";

.header {
  position: sticky;
  top: 0;
  z-index: 500;
  color: var(--mauve-950);
  width: 100vw;
  min-height: 56px;
  height: 56px;
  background: var(    --bg-header-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px;

  @media (max-width: 450px) {
    display: none;
  }

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr 30px;
    height: 100%;
  }

  &__logo {
    font-size: 32px;
    font-weight: 600;
    text-align: start;
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
  }

  &__item {
    font-weight: 600;
  }

  &__link {
    padding: 5px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: block;

    &:before {
      content: "";
      position: absolute;
      bottom: -3px; // Расстояние линии от текста
      left: 0;
      width: 0; // Начальная ширина
      height: 2px;
      background-color: var(--mauve-950); // Цвет линии
      transition: width 0.3s ease-in-out;
    }

    &:hover:before {
      width: 100%; // Ширина линии при наведении
    }
  }

  &__profile {
    padding: 5px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    path{
      fill: var(--mauve-950)
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -3px; // Расстояние линии от текста
      left: 0;
      width: 0; // Начальная ширина
      height: 2px;
      background-color: var(--mauve-950); // Цвет линии
      transition: width 0.3s ease-in-out;
    }

    &:hover:before {
      width: 100%; // Ширина линии при наведении
    }
  }
}
