:root {
  --white: #fff;
  --black: #27272a;
  --mauve-50: #fdf4ff;
  --mauve-100: #f9e8ff;
  --mauve-200: #f4d1fd;
  --mauve-300: #eeb2fb;
  --mauve-400: #e27bf7;
  --mauve-500: #d249ec;
  --mauve-600: #b929d0;
  --mauve-700: #9c1ead;
  --mauve-800: #811b8d;
  --mauve-900: #6c1b74;
  --mauve-950: #47054d;
}
