@import "../../scss/components/all";

.form {
  width: 100%;
}
.inputContainer {
  position: relative;
  width: 100%;
  margin: 15px 0 10px;

  .label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #ccc;
    transition: 0.2s ease all;
    pointer-events: none;
  }

  .input:focus ~ .label,
  .input:not(:placeholder-shown) ~ .label {
    top: -10px;
    font-size: 12px;
    color: var(--mauve-500);
  }

  .input {
    width: 100%;
    padding: 14px 10px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    &:focus {
      border-color: var(--mauve-500);
      outline: none;
    }
  }
}

.button {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: var(--mauve-500);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--mauve-600);
  }
}

.error {
  color: tomato;
  margin-bottom: 10px;
  font-size: 12px;
}
