@import '../../scss/components/all';


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: var(--text-color);
  background-color: var(--bg-card-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 370px;

  h2 {
    margin-bottom: 20px;
    font-weight: 500;
  }

  .registerPrompt {
    margin-top: 15px;
    font-size: 14px;
    color: #555;

    .registerLink {
      color: var(--mauve-500);
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
