@import "./components/all.scss";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 4;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.content {
  margin-top: 20px;
  margin-bottom: 80px;
}

.popular {
  &__cards {
    display: flex;
    gap: 16px;
    padding: 22px 26px;
    min-height: 220px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: scroll;
  }
  &__card {
    position: relative;
    min-width: 1px;
    max-width: 100%;
    display: block;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-10px);

      .popular__card-title {
        color: #ff5d19;
      }
    }

    &-img {
      position: relative;
      padding-top: 140%;
      max-width: 100%;
      border-radius: 6px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: inherit;
        object-fit: cover;
        object-position: center;
        opacity: 1;
        transition: opacity 0.15s ease-in;
      }
    }

    &-text {
      display: block;
      padding-top: 6px;
      max-height: 60px;
      overflow: hidden;
      color: #212529;
      text-decoration: none;
      font-size: 14px;
    }

    &-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
      hyphens: auto;
      line-height: 18px;
      font-weight: 600;
      width: 135px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }

    &-category {
      font-size: 13px;
      color: #8a8a8e;
      display: flex;
      gap: 10px;
      text-transform: uppercase;
    }

    &-score {
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 5;
      display: flex;
      gap: 6px;
      overflow: hidden;
      padding: 3px 6px;
      border-radius: 4px;
      font-size: 14px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.profile {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  &__top {
    display: flex;
    border-radius: 8px;
    padding: 22px 26px;

    background-color: #fff;
    align-items: center;
    flex-shrink: 0;
    gap: 16px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 16px;
  }

  &__img {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      object-position: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__name {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 220px;
  }
  &__lvl {
    width: 100%;
    color: #8a8a8e;
    font-size: 12px;
  }

  &__btn {
    background: rgba(116, 116, 128, 0.05);
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    justify-self: end;

    &:hover {
      background: rgba(116, 116, 128, 0.1);
    }
  }

  &__wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "sidebar search"
      "sidebar content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 150px 1fr;
    align-items: flex-start;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
  }
  .sidebar {
    position: sticky;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 0;
    z-index: 20;
    top: calc(56px + 20px);

    @media (max-width: 600px) {
      position: relative;
      top: 0;
      width: 100%;
    }

    span {
      display: inline-flex;
      align-items: center;
      gap: 20px;
      padding: 0 8px;
      position: relative;
      margin-left: 8px;
      font-size: 12px;
      line-height: 20px;
      user-select: none;
      color: #8a8a8e;
    }

    &__menu {
      padding: 4px;
      &-item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 14px;
        color: #212529;
        font-size: 14px;
        line-height: 1.2;
        border-radius: 8px;
        white-space: nowrap;
        text-decoration: none;
        transition: color 0.2s ease, background 0.2s ease;
        cursor: pointer;

        &--active {
          background: rgba(116, 116, 128, 0.05);
        }
      }
    }
  }
  &__content {
    padding: 0 20px;

    &-info {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
    }
  }
  &__cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

    @media (max-width: 600px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card {
    position: relative;
    min-width: 1px;
    max-width: 100%;
    display: block;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-10px);

      .popular__card-title {
        color: #ff5d19;
      }
    }

    &-img {
      position: relative;
      padding-top: 140%;
      max-width: 100%;
      border-radius: 6px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: inherit;
        object-fit: cover;
        object-position: center;
        opacity: 1;
        transition: opacity 0.15s ease-in;
      }
    }

    &-text {
      display: block;
      padding-top: 6px;
      max-height: 60px;
      overflow: hidden;
      color: #212529;
      text-decoration: none;
      font-size: 14px;
    }

    &-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
      hyphens: auto;
      line-height: 18px;
      font-weight: 600;
      width: 135px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }

    &-category {
      font-size: 13px;
      color: #8a8a8e;
      display: flex;
      gap: 10px;
      text-transform: uppercase;
    }

    &-score {
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 5;
      display: flex;
      gap: 6px;
      overflow: hidden;
      padding: 3px 6px;
      border-radius: 4px;
      font-size: 14px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.anime {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2{
    color: #ff5d19;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 500px) {
      flex-direction: column;
    }
  }

  &__image {
    max-width: 150px;
    border-radius: 4px;
    margin-right: 20px;
  }

  &__title {
    h1 {
      font-size: 24px;
      margin: 0;
      font-weight: 600;
    }

    p {
      margin: 5px 0;
      color: #555;
    }
  }

  &__status{
    select{
      margin-left: 5px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #dcdcdc;
    }
  }

  &__description,
  &__genres,
  &__videos,
  &__screenshots {
    margin-top: 20px;
  }

  &__genres {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 4px 16px;

      li {
        background-color: #f2e3e370;
        border-radius: 10px;
        text-align: center;

        color: #ff5d19;
        font-weight: 500;
        padding: 10px;
        margin: 5px 0;
        border-radius: 4px;
      }
    }
  }

  &__video {
    margin: 10px 0;

    iframe {
      width: 100%;
      height: 315px;
    }
  }

  &__screenshots {
    h2 {
      margin-bottom: 10px;
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px 50px;
    }
  }
  &__screenshot {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
}
